@import 'globals.scss';

.volume {
  position: relative;
  width: $icon-size;
  height: $icon-size;
  display: flex;
  flex-direction: row;
  transform: rotateX(-180deg);

  &__bar {
    width: $icon-size / 4;
    margin: 0 1px;

    &:nth-of-type(1) {
      height: 100%;
    }

    &:nth-of-type(2) {
      height: 78%;
    }

    &:nth-of-type(3) {
      height: 31%;
    }

    &:nth-of-type(4) {
      height: 56%;
    }

    &::before {
      content: ' ';
      height: 100%;
      display: block;
      background-color: $brand-primary;
      pointer-events: none;
      transition: height 1s;
      animation-play-state: paused;
    }
  }

  &--playing:hover {
    .volume__bar {
      &:nth-of-type(1) {
        &::before {
          animation: animated-bar 1s infinite;
        }
      }

      &:nth-of-type(2) {
        &::before {
          animation: animated-bar 0.75s infinite;
        }
      }

      &:nth-of-type(3) {
        &::before {
          animation: animated-bar 0.75s infinite;
        }
      }

      &:nth-of-type(4) {
        &::before {
          animation: animated-bar 0.5s infinite;
        }
      }
    }
  }

  &--muted {
    .volume__bar {
      &::before {
        height: 4px;
        animation-play-state: paused;
      }
    }
  }
}

@keyframes animated-bar {
  0% {
    height: 100%;
  }
  25% {
    height: 90%;
  }
  50% {
    height: 50%;
  }
  75% {
    height: 70%;
  }
  100% {
    height: 100%;
  }
}
