/* slider var names are w.r.t. a horizontal orientation */

.slider {
  flex: 1;
  margin: auto;
  pointer-events: all;
  touch-action: all;

  &--horizontal {
    height: calc(var(--slider-track-width) + var(--slider-handle-width) / 2);
  }

  &--vertical {
    width: calc(var(--slider-track-width) + var(--slider-handle-width));
  }

  &__label {
    box-sizing: border-box;
    display: block;
    margin: var(--base-spacing) 0;
    color: var(--brand-primary);
  }

  &__container {
    background-color: var(--brand-primary);
    color: var(--brand-primary);

    &--horizontal {
      width: 100%;
      height: var(--slider-track-width);
      margin-top: calc(var(--slider-handle-width) / 2);
      cursor: ew-resize;
    }

    &--vertical {
      height: 100%;
      width: var(--slider-track-width);
      margin-left: calc(var(--slider-handle-width) / 2);
      cursor: ns-resize;
    }
  }

  &__handle {
    text-align: center;
    background-color: var(--brand-primary);
    font-size: 0;
    cursor: pointer;

    &--horizontal {
      width: var(--slider-handle-height);
      height: var(--slider-handle-width);
      margin-top: calc((var(--slider-track-width) - var(--slider-handle-width)) / 2);
      cursor: ew-resize;
    }

    &--vertical {
      width: var(--slider-handle-width);
      height: var(--slider-handle-height);
      margin-left: calc((var(--slider-track-width) - var(--slider-handle-width)) / 2);
      cursor: ns-resize;
    }
  }

  &__bar {
    position: relative;
  }
}
