.date-picker {
  display: inline-flex;
  min-width: 250px;
  padding-right: var(--base-spacing);
  z-index: var(--z-index-top);

  &__display {
    font-size: var(--font-size-medium);
    color: var(--brand-primary);
    transition: text-shadow var(--transition-speed);
    cursor: pointer;

    &:hover {
      text-shadow: var(--text-shadow);
    }
  }

  &__picker {
    display: flex;
    justify-content: flex-end;
    color: var(--brand-primary);
    font-size: var(--font-size-tiny);
    margin-top: calc(var(--base-spacing) / 2);

    .rdtPicker {
      background: var(--brand-secondary);
      margin-top: var(--font-size-medium);

      th,
      td {
        &:hover {
          background-color: var(--brand-tertiary) !important;
        }
      }

      .rdtPrev,
      .rdtNext {
        border-color: var(--brand-secondary);
      }

      .rdtCounter .rdtBtn:hover {
        background-color: var(--brand-secondary);
      }
    }
  }

  &__input {
    display: none;
  }
}
