.stats {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__info {
    flex: 1;
    line-height: var(--font-line-height);
  }

  &__footer {
    padding-top: var(--base-spacing);
    margin-top: var(--base-spacing);
    border-top: var(--dotted-border);
    display: flex;
  }
}
