@import 'globals.scss';

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: $brand-secondary;
  font-family: $font-family-serif;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
}

canvas {
  cursor:
    url('/static/img/cursor.png') 38 24,
    auto;
}
