.play-pause {
  display: inline-flex;
  cursor: pointer;

  &__button {
    width: var(--icon-size);
    height: var(--icon-size);
    background-color: var(--brand-primary);
    color: var(--brand-secondary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      box-shadow: var(--text-shadow);
    }

    &--playing {
      &::before {
        content: '\2759\2759';
      }
    }

    &--paused {
      animation: glowing-box var(--transition-speed) infinite;

      &::before {
        content: '\25B6';
      }
    }
  }
}

@keyframes glowing-box {
  0% {
    box-shadow: 0;
  }
  40% {
    box-shadow: var(--text-shadow);
  }
  60% {
    box-shadow: var(--text-shadow);
  }
  100% {
    box-shadow: 0;
  }
}
